.recipe-card{
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #fff;
  height: 100%;
}
.recipe-card img{
  width:100%;
  height: 260px;
  object-fit: cover;
    aspect-ratio: 1/ 1;
}
.recipe-card:hover{
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}
.section-title{
  position: relative;
  display: inline-block;
}
.section-title::after{
  content: "";
  width: 100px;
  height: 2px;
  background-color: var(--green-color);
  display: block;
  margin: 10px auto 0;

}

.padding{
  padding-top: 100px;
}
