
  /* Each category  not used till now*/
  .category-item {
    flex: 0 0 auto;
    text-align: center;
    cursor: pointer;
  }


.category-img {
  width: 160px;       /* make the circle bigger */
  height: 160px;
  border-radius: 50%;
  background: #f1f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px; /* center horizontally and spacing */
  overflow: hidden;    /* ensure image doesn't overflow the circle */
  padding: 0;          /* remove padding so image can fill the circle */
}
.category-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}
.section-title{
  font-weight: 800;
  position: relative;
  display: inline-block;
}

.section-title::after{
  content: "";
  width: 70px;
  height: 2px;
  background-color: var(--green-color);
  display: block;
  margin: 10px auto 0;
  margin-bottom: 25px;
}
