.hero-wrapper {
  position: relative;
  overflow: hidden;
}
.hero-wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;

  left: 0;
  width: 100%;
  height: 180px;

  /* fade effect */
  background: linear-gradient(
    to top,
    #ffffff 0%,
    rgba(255, 255, 255, 0.9) 20%,
    rgba(255, 255, 255, 0.5) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
}
.section-title{
  font-weight: 800;
  position: relative;
  display: inline-block;
}

.section-title::after{
  content: "";
  width: 70px;
  height: 2px;
  background-color: var(--green-color);
  display: block;
  margin: 10px auto 0;
  margin-bottom: 25px;
}

.recipes::after{
  margin-top: 15px;
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background-color: var(--orange-color);
}
/* .recipes-section{
  background-color:#e9ecef;
  padding:60px 0;
} */
