 .youtube{
  background-color: #ff0000;
}
.hero{
  width:100%;
  height:400px;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

.hero-img{
  width:100%;
  height:100%;
  object-fit:fill;   /* THIS is the important part */
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,.1);
  background:#fafafa;
}
.badge{
  padding:6px 14px;
  border-radius:20px;
  font-size:14px;
}

.category{
  background:#ffe5d0;
  color:#ff7a00;
}

.area{
  background:#e0ffe1;
  color:green;
}

.content-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.ingredients-card{
  background:#fafafa;
  padding:25px;
  border-radius:18px;
  box-shadow:0 8px 25px rgba(0,0,0,.06);
}
.ingredients-list{
  list-style:none;
  padding:0;
  margin-top:15px;
}

.ingredients-list li{
  display:flex;
  gap:10px;
  padding:8px 0;
  border-bottom:1px solid #eee;
}
.measure{
  font-weight:700;
  color:#ff7a00;
  min-width:60px;
}
.instruction-card{
  background:#f8f8f8;
  padding:20px 25px;
  border-radius:16px;
  box-shadow:none;
  transition: all .3s ease
}
.instruction-card.open{
  box-shadow:0 12px 35px rgba(0,0,0,.12);
}
.instruction-header{
  cursor:pointer;
  user-select:none;
  padding-bottom:10px;
  border-bottom:1px solid #e4e4e4;
}
.arrow{
  transition: transform .3s ease;
  font-size:18px;
}
.rotate{
  transform: rotate(180deg);
}
.instruction-body{
  max-height:0;
  overflow:auto;
  transition:max-height .4s ease;
  line-height:1.7;
  color:#555;

}
.instruction-body.open{
  max-height:500px;
}
.recipe-details-container{
  max-width:1200px;
  margin:auto;
  padding:40px 20px;
  padding-top:140px

}

@media(max-width:900px){
  .content-grid{
    grid-template-columns:1fr;
  }
}
.accent-checkbox{
  accent-color: #74992e;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.accent-checkbox:checked + .measure,
.accent-checkbox:checked + .measure + .ingredient-name {
  text-decoration: line-through;
  color: #888;
}
.video-text{
  font-size:14px;
  color:#555;
  margin-bottom:10px;
}
.video-card{
  background:#fafafa;
  border-radius:16px;
  padding:15px;
  box-shadow:0 8px 25px rgba(0,0,0,.06);
  display:inline-flex;
  align-items:center;
  cursor:pointer;
  transition: all .3s ease;
}

.video-card:hover{
  transform:translateY(-3px);
  box-shadow:0 12px 35px rgba(0,0,0,.12);
}

.video-thumb{
  width:120px;
  height:70px;
  object-fit:cover;
  border-radius:12px;
}
