
.recipe-card{
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #fff;
  height: 100%;
}

.recipe-card img{
  width:100%;
  height: 260px;
  object-fit: cover;
    aspect-ratio: 1/ 1;
}

.recipe-card:hover{
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.area, .category{
  display:inline-block;
  border:1.5px solid var(--orange-two-color);
  color:var(--orange-two-color);
  padding:4px 10px;
  border-radius:20px;
  font-size:12px;
  font-weight:600;
  transition:0.25s;

}

.area:hover, .category:hover{
  background:var( --orange-two-color);
  color:#fff;
}

/* .recipe-card img{
  transition: transform .4s ease;
}

.recipe-card:hover img{
  transform: scale(1.08);
} */
